<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1 , shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script> -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<title th:text="${title}">Base Html</title>

<!-- Option 1: Bootstrap Bundle with Popper -->
<!-- 	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script> -->

<!-- 
THIS query will give us ajax function remember -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Smart Contact Manager</a>



			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase ">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#" th:href="@{/}">Home</a></li>


					<li class="nav-item"><a class="nav-link " href="#"
						tabindex="-1" aria-disabled="true"> <span
							th:text="${User.name}"></span></a>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/logout}" tabindex="-1" aria-disabled="true">Logout</a></li>
				</ul>

			</div>
		</div>
	</nav>
	<!-- end of nav bar -->
	<!-- 	<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div> -->
	<!-- 
Inside bar -->

	<div class="sidebar ">
		<span onclick="toggleSidebar()" class="crossBtn">&times;</span> <a
			id="home-link" href="#" th:href="@{/user/index}" class="item-active"><i
			class="fa-solid fa-house-chimney"></i>Home</a> <a id="contacts-link"
			href="#" th:href="@{/user/show-contacts/0}" class="item-active"><i
			class="fas fa-id-card-alt"></i> View Contacts </a> <a id="add-link"
			href="#" th:href="@{/user/add-contact}" class="item-active"><i
			class="fas fa-pencil-alt"></i>Add Contact</a> <a id="profile-link"
			href="#" th:href="@{/user/profile}" class="item-active"><i
			class="fas fa-user-circle"></i>Your Profile</a> <a id="settings-link"
			href="#" th:href=@{/user/settings} class="item-active"><i
			class="fas fa-cogs"></i>Settings</a> <a id="home-link" href="#"
			th:href="@{/logout}" class="item-active"><i
			class="fas fa-sign-out-alt"></i>Logout</a>
		<div class="divider"></div>
	</div>


	<!-- end of side bar -->
	<div class="content mt-2">
		<i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>
		<!-- 		message Box -->
		<div th:if="${session.message}" class="container">
			<div th:classappend="${'alert-' + session.message.type}"
				class="alert text-center" role="alert">
				<span th:text="${session.message.content}"></span>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
		</div>


		<div th:replace="${content}"></div>
	</div>
	<!-- Optional JavaScript; choose one of the two! -->

	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script th:src="@{/js/script.js}"></script>


	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
   
	<script type="text/javascript">
  function deleteContact(cid){
  swal({
  title: "Are you sure?",
  text: " You want to delete this contact!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
   window.location="/user/delete/"+cid;
  } else {
    swal("Your Contact are safe !!");
  }
});
   
   }
  </script>
  	
</body>
</html>