<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Contact Page</title>
</head>
<body>
	<section>

		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				<!-- search -->
				<div class="search-container my-3">
					<input onkeyup="search()" id="search-input" type="text" class="form-control"
						placeholder="search your contacts">
					<div class="search-result"></div>
				</div>
				<div class="table-responsive">
				<table class="table table-hover">
					<thead class="thead-light">
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<!-- 						here we are generating the id dynamically -->
							<th scope="row" th:text="${'SCM/2022/' + c.cId}">1</th>

							<td><img alt="profilephoto" class="my_profile_picture"
								src="" th:src="@{'/img/'+${c.image}}"> <span
								th:text="${c.name}"></span></td>
							<td><a href="#"
								th:href="@{'/user/' +${c.cId} + '/contact' }"> <span
									th:text="${c.email}"></span></a></td>
							<td th:text="${c.phone}">@mdo</td>
							<td><a href="#" th:onclick="|deleteContact(${c.cId})|"
								class="btn
									btn-danger btn-small">Delete </a>

								<form method="post"
									th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2"></form>
									<button type="submit" class="btn btn-primary btn-small">Update</button></td>
							</form>
						</tr>
					</tbody>
				</table>
				</div>
				<!-- 	pagination -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage  != 0} " class="page-item"><a
							th:href="@{'/user/show-contacts/' +${currentPage-1}}"
							class="page-link" href="#">Previous</a></li>


						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i :${#numbers.sequence(1,totalPages)}" class="page-item"><a
							th:href="@{'/user/show-contacts/' +${i-1}}" class="page-link"
							href="#"><span th:text="${i}"></span></a></li>

						<!--   here we apply conditon true if last page == the current page then next will not show -->
						<li th:if="${currentPage + 1 != totalPages} " class="page-item"><a
							th:href="@{'/user/show-contacts/' +${currentPage+1}}"
							class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</div>
		</div>
			<script>
				$(document).ready(() => {
					$(".item-active").removeClass("active");
					$("#contacts-link").addClass("active");

				});

			</script>
	</section>
</body>
</html>