<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is home page</title>
</head>
<body>
	<section>


		<div id="login">

			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-7">
						<div id="login-box" style="height: 240px" class="col-md-12">
							<!-- 		message Box -->
							<div th:if="${session.message}" class="container">
								<div class="alert alert-danger my-2 text-center" role="alert">
									<span th:text="${session.message}"></span>
									<th:block th:text="${#session.removeAttribute('message')}"></th:block>
								</div>
							</div>

							<!-- Emailform -->
							<h3 class="text-center m-3">Your Registered Email</h3>
							<form method="post" action="" th:action="@{/send-otp}">


								<div class="form-group">

									<input name="email" required="required" type="email"
										placeholder="Enter Your Email here" class="form-control">
									<div class="container text-center">


										<button class="btn btn-warning">Send OTP</button>







									</div>






								</div>





							</form>
						</div>
					</div>
				</div>
			</div>
		</div>



	</section>
</body>
</html>
