<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is home page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
<h1 class="font-weight-bold"> Smart Contact Manager </h1>
<p> Start controlling your  contact in very effective smarter way </p>
	<button class="btn bg-primary btn-lg text-white"> GetStarted</button>
	</div>
</section>
</body>
</html>