<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Change Password Form</title>
</head>
<body>
	<section>


		<div id="login">

			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-7">
						<div id="login-box" style="height: 220px" class="col-md-12 ">
							<h3 class="mt-5">Enter new password</h3>
							<form method="post" action="" th:action="@{/change-password}">
								<div class="form-group">

									<input name="newpassword" required="required" type="text"
										placeholder="Enter new  password here" class="form-control">
								</div>
								<div class="container text-center">


									<button class="btn btn-primary">Change Password</button>







								</div>



							</form>


						</div>







					</div>
				</div>
			</div>
		</div>



	</section>
</body>
</html>
